@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">@loginStr</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> state { get; set; }

    [Inject] ILocalStorageService localStorage { get; set; }
    [Inject] NavigationManager navigation { get; set; }

    private string loginStr = "About";

    protected async override Task OnInitializedAsync()
    {
        if (state == null)
        {
            loginStr = "Not Authenticated";
            return;
        }

        var auth = await state;

        if (auth.User.Identity?.IsAuthenticated == true)
        {
            var email = await localStorage.GetItemAsStringAsync("email");
            loginStr = email ?? "Unknown";
        }
        else
        {
            navigation.NavigateTo("loginPage");
        }
    }
}
